@font-face {
    font-family: 'CMS';
    src: url('/theme/webfonts/cmunrm.eot');
    src: url('/theme/webfonts/cmunrm.eot?#iefix') format('embedded-opentype'), url('/theme/webfonts/cmunrm.woff') format('woff'), url('/theme/webfonts/cmunrm.ttf') format('truetype'), url('/theme/webfonts/cmunrm.svg#cmunrm') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Code';
    src: url('/theme/webfonts/iosevka-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "CMS";
}

.mono {
    font-family: "Code";
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */

::-webkit-scrollbar-thumb {
    background: #FF0000;
}

main article .article__text pre code {
    font-family: "Code";
    background: transparent;
    color: white;
    font-size: 80%;
}

main article .article__text pre {
    font-family: "Code";
    font-size: 80%;
}

header p a {
    padding: 5px;
}

footer {
    border-top: 0px;
}

ul.mini-links li {
    display: inline;
    padding: 5px;
    text-align: center;
    padding-left: 0px;
}

ul.mini-links {
    padding-left: 0px;
}

footer .ending-message {
    text-align: center;
}