<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
  <!-- ## for client-side less
  <link rel="stylesheet/less" type="text/css" href="{{ SITEURL }}/theme/css/style.less">
  <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.3/less.min.js" type="text/javascript"></script>
  -->
  <link rel="icon" type="image/vnd.microsoft.icon" href="{{ SITEURL }}/{{ FAVICON }}">
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.min.css">
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/pygments.css">
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/fontawesome-all.min.css">
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/hatena-bookmark-icon.css">
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/hatena-bookmark-icon.css">

  {% if CUSTOM_CSS_URL %}
    <link rel="stylesheet" type="text/css" href="{{ CUSTOM_CSS_URL }}">
  {% endif %}

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="{{ AUTHOR }}">
  <meta name="description" content="Posts and writings by {{ AUTHOR }}">

  {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom" />
  {% endif %}

  {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS" />
  {% endif %}

  {% block head %}
  {% endblock %}

  <title>
    {{ SITENAME }}

    {% block title %}{% endblock %}
  </title>

  {% include "modules/analytics.html" %}
  {%- if CUSTOM_HEADER_HTML %}
      {{ CUSTOM_HEADER_HTML }}
  {% endif -%}
</head>

<body>
  <main>
    <header>
      <div class="site-name">
        <a href="{{ SITEURL }}">{{ SITENAME }}</a>
      </div>

      <p>
        {% if ARCHIVES_URL %}
            <a href="{{ SITEURL }}/{{ ARCHIVES_URL }}"><i class="fa fa-newspaper"></i> Archive</a>
        {% else %}
            <a href="{{ SITEURL }}/archives.html"><i class="fa fa-newspaper"></i> Archive</a>
        {% endif %}

        {% for p in pages %}
            <a href="{{ SITEURL }}/{{ p.url }}" title="{{ p.title }}">
                <i class="fa fa-book"></i> {{p.title}}
            </a>
        {% endfor %}

        {% block header %}
        {% endblock header %}
      </p>

        <ul class="mini-links">
            {% for name, link in SOCIAL %}
                <li>
                    <a href="{{ link }}" target="_blank" title="{{ name }}">
                        {% if name == 'twitter' %}
                            <i class="fab fa-twitter-square"></i>
                        {% elif name == 'github' %}
                            <i class="fab fa-github-square"></i>
                        {% elif name == 'instagram' %}
                            <i class="fab fa-instagram"></i>
                        {% elif name == 'gitlab' %}
                            <i class="fab fa-gitlab"></i>
                        {% elif name == 'linkedin' %}
                            <i class="fab fa-linkedin"></i>
                        {% elif name == 'linkedin' %}
                            <i class="fab fa-linkedin-square"></i>
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </header>

    {% block content %}
    {% endblock %}

    {% block footer %}
    {% endblock %}

  </main>
    <footer>
      <section class="author">
        <div class="author__link">
          <ul>
            {% if FEED_ALL_ATOM %}
                <li>
                    <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" target="_blank" title="Feed">
                        <i class="fas fa-rss-square"></i>
                    </a>
                </li>
            {% elif FEED_ALL_RSS %}
                <li>
                    <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" target="_blank" title="Feed">
                        <i class="fas fa-rss-square"></i>
                    </a>
                </li>
            {% endif %}
          </ul>
        </div>
      </section>
      <div class="ending-message">
        <p>&copy; {{ AUTHOR }}. Random is Beautiful. {% if INTERNET_DEFENSE_LEAGUE %}Member of the <a href="http://internetdefenseleague.org">Internet Defense League</a>.{% endif %}</p>
      </div>

    </footer>
</body>
</html>
