{% extends "base.html" %}
{% block title %}&ndash; {{ page.title }}{% endblock %}

{% block content %}
<article>
  <div class="article__title">
    <h3><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></h3>
  </div>
  <div class="article__text">
    {{ page.content }}
  </div>
  <div class="article__meta">
    {% if page.locale_date %}
    <p>Updated on: {{ page.locale_date }}</p>
    {% endif %}
  </div>
</article>
{% endblock %}
